body {
    margin: 0px;
}

.gray-300 {
    background-color: #E0E0E0;
}

#map {
    height: 80vh;
}

#search {
    height: 10vh;
    background-color: #ffc107
}

.leaflet-control-geocoder-form input {
    width: 80vw !important;
    height: 6vh !important;
}

.leaflet-control-geocoder-alternatives > li{
    width: 86vw !important;
} 

.leaflet-control-layers {
    width: revert;
}

.leaflet-control-layers-base {
    display: revert;
}

/* for large screens */
@media screen and (min-width: 900px) {
    .leaflet-control-geocoder-form input{
        width: 50vw !important;
    }

    .leaflet-control-geocoder-alternatives > li {
        width: 51vw !important;
    }

    .leaflet-control-layers {
        width: 350px !important;
    }

    .leaflet-control-layers-base {
        display: flex !important;
        align-items: baseline !important;
        justify-content: space-around !important;
    }
}

.control-layers-text {
    font-family: Arial, Helvetica, Verdana;
    font-weight: bold;
}

.control-hawker-img {
    width: 40px;
    padding-right: 15px;
}

.control-market-img {
    width: 20px;
}

#info {
    height: 30vh;
    background-color: skyblue;
}

.footer-links > * {
    padding: 10px;
    margin: 0px;
    text-decoration: none;
}

/* inside Popper */
.popover {
    max-width: 300px;
}

.popover-header {
    background-color: #ffc107 !important; 
}

.close {
    float: right;
}

#feedback-textarea {
    resize: none;
    height: 150px !important;
    width: 260px !important;
}

.div-direction {
    font-family: Arial, Helvetica, Verdana;
    font-size: 30px;
}

#info-direction {
    height: 27vh;
    width: 100%;
    overflow-y: auto; /* Show a scrollbar if needed */
    background: white;
    font-family: Arial, Helvetica, Verdana;
    line-height: 1.5;
    padding: 10px;
    margin-top: 15px;
    margin-right: 15px;
}

#info-direction > p {
    font-weight: bold;
}

#clear-direction {
    padding: 10px;
    margin-top: 15px;
}